<!DOCTYPE html>
<html>
	<script src="http://www.w3schools.com/lib/w3data.js"></script>
	<div w3-include-html="config.html"></div>
<body>
<!--Only appears upon login : 2nd release-->

<div w3-include-html="header.html"></div>
<br></br>
<div class = "container">
	<h1 class = "jumbotron text-center">List Of Defects</h1>
</div>

<!--Defects Table Here-->
<!--Defects Form Here -->


<div w3-include-html="footer.html"></div>
<!--Script must be at the bottom-->
<script>w3IncludeHTML();</script>
</body>
</html>